.devNav .mr-auto,
.mx-auto {
    margin-left: auto !important;
    margin-right: 0px !important;
}

.mb-4,
.my-4 {
    margin-bottom: 0px !important;
}

.navbar--primary {
    background-color: #112142;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar--primary .navbar--brand .brand__logo img {
    margin: .9em 0;
    max-height: 3em;
}

.brand__logo img {
    border-radius: 0;
}

.img-responsive, img {
    display: block;
    max-width: 100%;
    height: auto;
}

.intro-div {
    display: table;
    width: 100%;
    height: 100vh;
    background: #112142;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden !important;
}

.intro-div .container {
    display: table-cell;
    vertical-align: middle;
}

.intro-div .container h1 {
    font-size: 4.5rem;
    color: #fff;
}

.intro-div .container p {
    color: #ddd !important;
    margin-top: 30px;
    font-size: 1.5rem;
}

.typing {
    color: #fff;
}

.typed-cursor {
    color: #fff;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.more_persona{
    margin: 20px auto;
    display: block;
}

.team-row{
    margin-top: 5%;
}

.no_deco{
    text-decoration: none !important;
}

.welcome_text{
    margin-top: 5%;
}

.social_row{
    display: block;
    margin: 40px auto 100px auto;
}

.social_row .row{
    margin:10px auto;
    display: block;
}

.meetup_main,
.become_m_main,
.gallery_main{
    margin: 20% 0%;
}

.image_div{
    padding: 0px;
    margin: 2%;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

@keyframes devPlaceHolder{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: devPlaceHolder;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}

.become_m_main iframe{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social_row a,
.social_row a:hover,
.social_row a:focus{
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    height: 280px;
}

.box-shadow h4{
    padding: 10px 0px;
}

.meetup_reg{
    position: absolute;
    bottom: 10%;
}

.footer{
    background-color: #112142;
    color: #ffffff;
}

.showcase_inner {
    margin: 20px auto;
    display: block;
    width: 100%;
    text-align: center;
}

#header,
#action,
#team {
    margin-top: 100px;
    margin-bottom: 50px;
}

#action {
    padding: 150px 0px;
    text-align: center;
    background: url(../images/03.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#action h3,
#action button {
    color: #fff;
    margin: 20px 0px;
}

#action .btn-outline-primary {
    color: #fff !important;
    margin: 5px;
}

.team-card {
    margin: 30px auto;
}

.team-img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;
}

.team-card h5 {
    padding: 10px 0px 5px 0px;
    margin-bottom: 0px;
}

footer {
    padding: 50px 0px;
}

footer a,
footer a:hover,
footer a:focus {
    text-decoration: none;
    color: #007bff;
}

footer .love {
    color: #e25555;
}

@media (min-width: 768px) {
    .intro-div .container h1 {
        font-size: 4.5rem;
    }
}

@media all and (max-width: 768px) {
    .intro-div .container h1 {
        font-size: 2.5rem;
    }
    .intro-div .container p {
        font-size: 1rem;
    }
    .meetup_main,
    .become_m_main,
    .gallery_main{
        margin: 35% 0%;
    }
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}
